<div class="app-card-container">
    <div class="card">
        <h1>About Me</h1>
        <br>
        <div class="row">
            <div class="col-md-4">
                <%= image_tag "profile_image.jpg", width: 300, alt: "profile image", class: 'profile-image' %>
            </div>

            <div class="col-md-8">
                <p>I understand that technology is an enabler for businesses. In order to achieve it's potential to drive efficiency, profits, customer service, or other business objectives, technology solutions must be developed and implemented by people who understand both the business and the technology.</p>

                <p>I sit at the point of convergence of business needs and technology, using the understanding of the importance of this melding to advance business goals.</p>

                <p>
                    <button
                        class="btn btn-primary"
                        type="button"
                        data-toggle="collapse"
                        data-target="#jobHistory"
                        aria-expanded="false"
                        aria-controler="jobHistory"
                    >

                    
                        Job History
                    </button>
                    <button
                        class="btn btn-primary"
                        type="button"
                        data-toggle="collapse"
                        data-target="#education"
                        aria-expanded="false"
                        aria-controler="education"
                    >

                    
                        Job History
                    </button>
                </p>
                
                <p>
                    <div class="collapse" id="jobHistory">
                        <div class="card card-block">
                            Job 1
                        </div>
                        <div class="card card-block">
                            Job 1
                        </div>
                    </div>

                    <div class="collapse" id="education">
                        <div class="card card-block">
                            School 1
                        </div>
                        <div class="card card-block">
                            School 2
                        </div>
                        <div class="card card-block">
                            School 3
                        </div>
                    </div>
                </p>
            
            </div>
        </div>
  
    </div>
</div>