<h1>Pages#about</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "profile_image.jpg", width: 300, alt: "profile image" %>
    </div>

    <div class="col-md-8">
        <p>I understand that technology is an enabler for businesses. In order to achieve it's potential to drive efficiency, profits, customer service, or other business objectives, technology solutions must be developed and implemented by people who understand both the business and the technology.</p>

        <p>I sit at the point of convergence of business needs and technology, using the understanding of the importance of this melding to advance business goals.</p>
    </div>
</div>
